---
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts'
import GeneralLayout from '@layouts/GeneralLayout.astro'
import { getCollection } from 'astro:content'
import urlencode from '@utils/urlencode'
import { getPostUrl } from '@utils/postslug'
import PostCard from '@components/PostCard.astro'

export async function getStaticPaths() {
	const posts = (await getCollection('blog')).filter((post) => !post.data.isDraft && post.data.language == 'en' && post.data.series !== undefined)
	return posts.map((post) => ({
		params: { series: urlencode(post.data.series!) },
	}))
}

const { series } = Astro.params
const posts = (await getCollection('blog'))
				.filter((post) => !post.data.isDraft && post.data.language == 'en' && urlencode(post.data.series!) == series)
				.sort((a, b) => b.data.seriesNum! - a.data.seriesNum!)
---

<GeneralLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<main>
		<section>
			<ul class="flex flex-wrap gap-2 md:gap-8 list-none m-0 p-0">
				{
					posts.map((post) => (
						<PostCard href={getPostUrl(post.slug)} image={post.data.heroImage} title={post.data.title} date={{date: post.data.pubDate, dateLang: post.data.language}} />
					))
				}
			</ul>
		</section>
	</main>
</GeneralLayout>
