---
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts'
import GeneralLayout from '@layouts/GeneralLayout.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '@components/FormattedDate.astro'
import { getPostUrl } from '@utils/postslug'
import PostCard from '@components/PostCard.astro'

const posts = (await getCollection('blog')).filter((post) => !post.data.isDraft && post.data.language == 'en').sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<GeneralLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<main>
		<section>
			<ul class="flex flex-wrap gap-2 md:gap-8 list-none m-0 p-0">
				{
					posts.map((post) => (
						<PostCard href={getPostUrl(post.slug)} image={post.data.heroImage} title={post.data.title} date={{date: post.data.pubDate, dateLang: post.data.language}} />
					))
				}
			</ul>
		</section>
	</main>
</GeneralLayout>
