---
import { getCollection } from 'astro:content'
import GeneralLayout from '@layouts/GeneralLayout.astro'
import RSSPost from '@components/RSSPost.astro'
import { getPostUrl } from '@utils/postslug'

export async function getStaticPaths() {
	return [{ params: { lang: 'en' } }, { params: { lang: 'ko' } }]
}

const newEnPosts = (
	await getCollection(
		'blog',
		(post) => !post.data.isDraft && post.data.language == 'en',
	)
)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5)
	.map((post) => {
		return {
			title: post.data.title,
			slug: post.slug,
			date: post.data.pubDate,
		}
	})
const newKoPosts = (
	await getCollection(
		'blog',
		(post) => !post.data.isDraft && post.data.language == 'ko',
	)
)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5)
	.map((post) => {
		return {
			title: post.data.title,
			slug: post.slug,
			date: post.data.pubDate,
		}
	})
const newAllPosts = newEnPosts
	.concat(newKoPosts)
	.sort((a, b) => b.date.valueOf() - a.date.valueOf())
	.slice(0, 5)
---

<!-- Cards from https://tailwindcomponents.com/component/pricing-card-1 by dhaifullah -->
<GeneralLayout
	title="RSS"
	description={Astro.currentLocale == 'en'
		? 'RSS Feed Options'
		: 'RSS 피드 선택 페이지'}
>
	<div
		class="m-auto flex items-center justify-center bg-white py-12 md:h-[calc(100vh-160px)] dark:bg-black"
	>
		<div class="mx-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
			<div
				class="relative h-auto min-h-[440px] w-auto transform overflow-hidden rounded-lg bg-white shadow-lg transition-transform hover:scale-105 dark:bg-slate-900"
			>
				<div class="bg-blue-200 p-1"></div>
				<div class="p-8">
					<h2
						class="mb-4 text-3xl font-bold text-gray-800 dark:text-gray-200"
					>
						English Blog RSS
					</h2>
					<p class="mb-6 text-wrap text-gray-600 dark:text-gray-300">
						Daily Life, Programming, and School
					</p>
					<ol class="mb-4 text-sm text-gray-600 dark:text-gray-300">
						{
							newEnPosts.map((post) => {
								return (
									<RSSPost
										href={getPostUrl(post.slug)}
										title={post.title}
										date={post.date.toLocaleDateString()}
									/>
								)
							})
						}
					</ol>
				</div>
				<div class="absolute bottom-0 w-full p-4">
					<button
						onclick="window.location.href = '/rss-en.xml'"
						class="focus:shadow-outline-blue h-full w-full rounded-full bg-blue-500 px-4 py-2 text-center text-white hover:bg-blue-700 focus:outline-none active:bg-blue-800"
					>
						Get Feed
					</button>
				</div>
			</div>

			<div
				class="relative h-auto min-h-[440px] transform overflow-hidden rounded-lg bg-white shadow-lg transition-transform hover:scale-105 dark:bg-slate-900"
			>
				<div class="bg-green-200 p-1"></div>
				<div class="p-8">
					<h2
						class="mb-4 text-3xl font-bold text-gray-800 dark:text-gray-200"
					>
						한글 글 피드
					</h2>
					<p class="mb-6 text-gray-600 dark:text-gray-300">
						일상, 프로그래밍, 유학생활
					</p>
					<ol class="mb-4 text-sm text-gray-600 dark:text-gray-300">
						{
							newKoPosts.map((post) => {
								return (
									<RSSPost
										href={getPostUrl(post.slug)}
										title={post.title}
										date={post.date.toLocaleDateString()}
									/>
								)
							})
						}
					</ol>
				</div>
				<div class="absolute bottom-0 w-full p-4">
					<button
						onclick="window.location.href = '/rss-ko.xml'"
						class="focus:shadow-outline-green w-full rounded-full bg-green-500 px-4 py-2 text-white hover:bg-green-700 focus:outline-none active:bg-green-800"
					>
						피드 가기
					</button>
				</div>
			</div>

			<div
				class="relative h-auto min-h-[440px] transform overflow-hidden rounded-lg bg-white shadow-lg transition-transform hover:scale-105 dark:bg-slate-900"
			>
				<div class="bg-purple-200 p-1"></div>
				<div class="p-8">
					<h2
						class="mb-4 text-3xl font-bold text-gray-800 dark:text-gray-200"
					>
						All Posts | 전체 글
					</h2>
					<p class="mb-6 text-gray-600 dark:text-gray-300">
						English & Korean | 영어 & 한글
					</p>
					<ol class="mb-4 text-sm text-gray-600 dark:text-gray-300">
						{
							newAllPosts.map((post) => {
								return (
									<RSSPost
										href={getPostUrl(post.slug)}
										title={post.title}
										date={post.date.toLocaleDateString()}
									/>
								)
							})
						}
					</ol>
				</div>
				<div class="absolute bottom-0 w-full p-4">
					<button
						onclick="window.location.href = '/rss.xml'"
						class="focus:shadow-outline-purple w-full rounded-full bg-purple-500 px-4 py-2 text-white hover:bg-purple-700 focus:outline-none active:bg-purple-800"
					>
						Feed/피드
					</button>
				</div>
			</div>
		</div>
	</div>
</GeneralLayout>
