---
import { getCollection } from 'astro:content';
import GeneralLayout from '@layouts/GeneralLayout.astro';
import { getPostUrl } from '@utils/postslug';

const newEnPosts = (await getCollection('blog', (post) => !post.data.isDraft && post.data.language == 'en')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 5).map((post) => { return { title: post.data.title, slug: post.slug, date: post.data.pubDate } })
const newKoPosts = (await getCollection('blog', (post) => !post.data.isDraft && post.data.language == 'ko')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 5).map((post) => { return { title: post.data.title, slug: post.slug, date: post.data.pubDate } })
const newAllPosts = newEnPosts.concat(newKoPosts).sort((a, b) => b.date.valueOf() - a.date.valueOf()).slice(0, 5)

const truncateTitle = (title: string): string  => {
  if (title.length <= 15) return title
  return title.slice(0, 15) + '...'
}
---
<!-- Cards from https://tailwindcomponents.com/component/pricing-card-1 by dhaifullah -->
<GeneralLayout title="RSS" description={Astro.currentLocale == 'en' ? 'RSS Feed Options' : 'RSS 피드 선택 페이지'}>
    <div class="bg-white dark:bg-black min-h-screen py-12 flex items-center justify-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-6">


          <div class="h-[420px] bg-white dark:bg-slate-900 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105 w-auto">
            <div class="p-1 bg-blue-200">
            </div>
            <div class="p-8">
              <h2 class="text-3xl font-bold text-gray-800 mb-4">English Blog RSS</h2>
              <p class="text-gray-600 mb-6 text-wrap">Daily Life, Programming, and School</p>
              <ol class="text-sm text-gray-600 mb-6">
                {newEnPosts.map( (post) => {
                  return (<li class="text-md mb-2 flex items-center">
                    <svg class="w-4 h-4 mr-2 fill-slate-400" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"></path></g></svg>
                    <a href={getPostUrl(post.slug)} class="underline">
                      {truncateTitle(post.title)}
                    </a>
                    <span class="ml-4 text-xs text-indigo-400">
                      {post.date.toLocaleDateString('en', {year: 'numeric', month: 'short', day: 'numeric'})}
                    </span>
                  </li>)
                })}
              </ol>
            </div>
            <div class="w-full absolute bottom-2 p-4">
              <button
                onclick="window.location.href = '/en/rss.xml'"
                class="h-full w-full text-center bg-blue-500 text-white rounded-full px-4 py-2 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                Get Feed
            </button>
            </div>
          </div>


          <div class="h-[420px] relative bg-white rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105">
            <div class="p-1 bg-green-200">
            </div>
            <div class="p-8">
              <h2 class="text-3xl font-bold text-gray-800 mb-4">한글 글 피드</h2>
              <p class="text-gray-600 mb-6">일상, 프로그래밍, 유학생활</p>
              <ol class="text-sm text-gray-600 mb-6">
                {newKoPosts.map( (post) => {
                  return (<li class="text-md mb-2 flex items-center">
                    <svg class="w-4 h-4 mr-2 fill-slate-400" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"></path></g></svg>
                    <a href={getPostUrl(post.slug)} class="underline">
                      {truncateTitle(post.title)}
                    </a>
                    <span class="ml-4 text-xs text-indigo-400">
                      {post.date.toLocaleDateString('en', {year: 'numeric', month: 'short', day: 'numeric'})}
                    </span>
                  </li>)
                })}
              </ol>
            </div>
            <div class="w-full absolute bottom-2 p-4">
              <button
                onclick="window.location.href = '/ko/rss.xml'"
                class="w-full bg-green-500 text-white rounded-full px-4 py-2 hover:bg-green-700 focus:outline-none focus:shadow-outline-green active:bg-green-800">
                피드 가기
              </button>
            </div>
          </div>


          <div class="h-[420px] bg-white rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105">
            <div class="p-1 bg-purple-200">
            </div>
            <div class="p-8">
              <h2 class="text-3xl font-bold text-gray-800 mb-4">All Posts | 전체 글</h2>
              <p class="text-gray-600 mb-6">English & Korean | 영어 & 한글</p>
              <ol class="text-sm text-gray-600 mb-6">
                {newAllPosts.map( (post) => {
                  return (<li class="text-md mb-2 flex items-center">
                    <svg class="w-4 h-4 mr-2 fill-slate-400" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"></path></g></svg>
                    <a href={getPostUrl(post.slug)} class="underline">
                      {truncateTitle(post.title + '안녕하세요안녕하세요')}
                    </a>
                    <span class="ml-4 text-xs text-indigo-400">
                      {post.date.toLocaleDateString('en', {year: 'numeric', month: 'short', day: 'numeric'})}
                    </span>
                  </li>)
                })}
              </ol>
            </div>
            <div class="w-full absolute bottom-2 p-4">
              <button
                onclick="window.location.href = '/rss.xml'"
                class="w-full bg-purple-500 text-white rounded-full px-4 py-2 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple active:bg-purple-800">
                Feed/피드
              </button>
            </div>
          </div>
        </div>
      </div>
</GeneralLayout>