---
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts'
import GeneralLayout from '@layouts/GeneralLayout.astro'
import { getCollection } from 'astro:content'
import { getPostUrl } from '@utils/postslug'
import PostCard from '@components/PostCard.astro'

export async function getStaticPaths() {
	const tags = Array.from(new Set((await getCollection('blog')).filter((post) => !post.data.isDraft && post.data.language == 'en').reduce((cur, post) => cur.concat(post.data.tags), [] as string[])))
	return tags.map((tag) => ({
		params: { tag },
	}))
}

const { tag } = Astro.params
const posts = (await getCollection('blog'))
				.filter((post) => !post.data.isDraft && post.data.language == 'en' && post.data.tags.includes(tag))
				.sort((a, b) => b.data.seriesNum! - a.data.seriesNum!)
---

<GeneralLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<main>
		<h1 class="text-3xl font-bold mb-2 text-[var(--gray-dark)] dark:text-[var(--gray-light)]"><span class="underline decoration-slate-400">{tag}</span> Posts</h1>
		<section>
			<ul class="flex flex-wrap gap-2 md:gap-8 list-none m-0 p-0">
				{
					posts.map((post) => (
						<PostCard href={getPostUrl(post.slug)} image={post.data.heroImage} title={post.data.title} date={{date: post.data.pubDate, dateLang: post.data.language}} />
					))
				}
			</ul>
		</section>
	</main>
</GeneralLayout>
