---
import { SITE_TITLE } from '@consts'
import { Astronav, StickyHeader, Dropdown, DropdownItems } from 'astro-navbar'
import HeaderLink from '@components/HeaderLink.astro'
import LOGO from '@components/LOGO.astro'

const { pathname } = Astro.url
const subpath = pathname.split('/').slice(1)
const isHome = !(
	subpath[1]?.toLowerCase() == 'about' ||
	subpath[1]?.toLowerCase() == 'search'
)
---

<StickyHeader
	class="sticky top-0 z-50 flex h-auto w-full gap-5 border-b border-slate-400/30 bg-white/40 px-2 pb-1 pt-2 drop-shadow-sm backdrop-blur-md backdrop-filter transition-all dark:bg-gray-800/65"
	scrollY={50}
	activeClass="py-2 bg-white/80 border-gray-200 backdrop-blur-lg"
>
	<Astronav>
		<div
			class="flex w-full flex-row justify-between gap-x-10 md:mx-auto md:w-[720px]"
		>
			<div class="flex">
				<a href=`/${Astro.currentLocale}` class="grid">
					<LOGO width="26px" height="26px" />
					<p
						class="mb-0 text-sm font-bold text-black dark:text-white"
					>
						{SITE_TITLE}
					</p>
				</a>
			</div>
			<Dropdown class="group my-auto">
				<button
					class="flex transform items-center text-2xl text-black transition-transform hover:scale-105 dark:text-white"
				>
					<span class={isHome ? 'font-bold underline' : ''}>Blog</span
					>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="3"
						stroke="currentColor"
						class="mt-0.5 h-3 w-3 group-open:rotate-180"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
					</svg>
				</button>
				<DropdownItems class="relative">
					<div
						class="absolute left-4 top-0 border-2 border-slate-400/30 bg-white p-8 dark:bg-gray-800"
					>
						<ul>
							<HeaderLink
								href=`/${Astro.currentLocale}/`
								className="text-xl">Home</HeaderLink
							>
							<HeaderLink
								href=`/${Astro.currentLocale}/series`
								className="text-xl">Series</HeaderLink
							>
							<HeaderLink
								href=`/${Astro.currentLocale}/tags`
								className="text-xl">Tags</HeaderLink
							>
							<!-- <HeaderLink href=`/${Astro.currentLocale}/projects`>Projects</HeaderLink> -->
						</ul>
					</div>
				</DropdownItems>
			</Dropdown>
			<HeaderLink
				href=`/${Astro.currentLocale}/about`
				className="my-auto text-2xl">About</HeaderLink
			>
			<a
				href=`/${Astro.currentLocale}/search`
				class="my-auto transform fill-none stroke-black transition-transform hover:scale-105 dark:stroke-white"
			>
				<div class="sr-only">Search</div>
				<svg
					class="h-8 w-8"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
						id="SVGRepo_tracerCarrier"
						stroke-linecap="round"
						stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
						<path
							d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
							stroke-width="2.4"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
					</g></svg
				>
			</a>
		</div>
	</Astronav>
</StickyHeader>
