---
import FormattedDate from '@components/FormattedDate.astro'
import { Image } from 'astro:assets'

const {
	href,
	title,
	date: { date, dateLang } = { date: '', dateLang: '' },
} = Astro.props
---

<li class="w-full rounded-xl border-2 p-1 text-center md:w-[calc(50%-1rem)]">
	<a href={href} class="block">
		<Image
			class="mb-1 rounded-xl"
			width={1080}
			height={540}
			src={`/head-image/${href.slice(1, -1)}.webp`}
			alt={`Head image of ${title}`}
		/>
		<h4
			class="m-0 leading-none text-[var(--black)] underline decoration-cyan-300 dark:text-white"
		>
			{title}
		</h4>
		{
			date && dateLang && (
				<p class="m-0 text-sm text-[var(--gray-dark)] dark:text-[var(--gray-light)]">
					<FormattedDate date={date} locale={dateLang} />
				</p>
			)
		}
	</a>
</li>
