---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import FormattedDate from '@components/FormattedDate.astro';
import SiteManipulationBtn from '@components/SiteManipulationBtn.astro';
import SeriesTag from '@components/SeriesTag.astro';
import Tag from '@components/Tag.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, language, finishedLanguage, tags, series, seriesNum } = Astro.props;
---

<html lang={language}>
	<head>
		<BaseHead title={title} description={description} image={heroImage} />
	</head>
	<body class="bg-white dark:bg-black">
		<div id="top"></div>
		<Header />
		<main class="w-full">
			<article class="m-auto prose dark:prose-invert">
				<div class="w-full">
					{heroImage && <img class="block my-0 mx-auto rounded-xl" style="box-shadow: var(--box-shadow)" width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="mb-4 py-4 text-center leading-1">
					<div class="mb-2 text-[#60779f]">
						<FormattedDate date={pubDate} locale={language} />
						{
							updatedDate && (
								<div class="italic">
									Last updated on <FormattedDate date={updatedDate} locale={language} />
								</div>
							)
						}
					</div>
					<h1 class="mb-2">{title}</h1>
					<SeriesTag series={series!} seriesNum={seriesNum!} />
					<hr class="my-3" />
				</div>
				<slot />
				<div class="flex flex-wrap gap-x-2">
				{
					tags.map((tag, i) => <Tag name={tag} colorIndex={i%11} />)
				}
				</div>
		</article>
		</main>
		<Footer />
		<SiteManipulationBtn otherLang={finishedLanguage} />
		<div id="bottom"></div>
	</body>
</html>
