---
import BaseHead from '@components/BaseHead.astro'
import Navbar from '@components/Navbar.astro'
import Footer from '@components/Footer.astro'
import SiteManipulationBtn from '@components/SiteManipulationBtn.astro'

interface Props {
    title: string
    description: string
    otherLang?: string
    image?: string
}

const { title, description, image = '', otherLang = '' } = Astro.props
---

<html lang={Astro.currentLocale}>
    <head>
        <BaseHead title={title} description={description} image={image} />
    </head>
    <body class="bg-white dark:bg-black h-screen">
        <div class="relative min-h-screen">
            <div id="top" class="invisible"></div>
            <Navbar />
            <slot />
            <Footer />
            <SiteManipulationBtn otherLang={otherLang} />
            <div id="bottom" class="invisible"></div>
        </div>
   </body>
</html>